version: "3.8"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_DATABASE: influencer
      DB_USERNAME: root
      DB_PASSWORD: root
      REDIS_HOST: redis
    ports:
      - 8000:8000
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    networks:
      - app

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: influencer
      MYSQL_USER: admin
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - .dbdata:/var/lib/mysql
    ports: 
      - 33066:3306
    networks:
      - app

  redis:
    image: redis:latest
    networks:
      - app
    ports:
      - 6379:6379

networks:
  app: